body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(200,200,200);
}
.header{
    background-color:darkgray;
    display:flex;
    padding:10px;    
}
.logo{
    flex: 0 0 50%;
}
.menu{
    text-align:right;
    flex: 1;
}
ul{
    margin-top:70px;
    padding:0px;    
}
li{
    list-style-type:none;
    display:inline-block;
}
ul li a{
    color:azure;
    padding:15px 12px;
    text-decoration:none;
}
ul li a:hover{
    color:black;
    background-color:azure;
    transition:1s;
}
.footer {
    background-color: darkgray;
    padding: 10px;
}
.conteudo{
    color:black;
    padding:10px;
    width:70%;
    background-color:white;
    margin:auto;
}
.post_main {
    width: 100%;
    margin-bottom: 5px;
    margin-top: 5px;
    background-color: rgb(220,220,220);
    border:1px solid;
}
.post_titulo{
    font-family:Verdana;
    font-weight:bold;
    font-size:1.1em;
    color:dodgerblue;
    margin-left:10px;
}
.post_titulo p{
    padding:0px;
    margin:0px
}
.post_mensagem{
    font-family:'Times New Roman', Times, serif;

}
.post_descricao {
    font-family: Verdana;
    font-weight: bold;
    font-size: 0.5em;
    color: darkslategrey;
}
.footer_produtor{
    text-align:center;
}
.erro{
    border:1px solid red;
    padding:10px;
    margin-bottom:1px;
}
.sucesso {
    border: 1px solid green;
    padding: 10px;
}
.voltar{
    padding: 15px;
}
