<!DOCTYPE html>
<html>
<head>
    <title>Pagina Inicial</title>
    <link href="~/styles/main.css" rel="stylesheet" />
</head>
    <body>

        @RenderPage("~/inc/_Cabecalho.cshtml")
        
        @RenderBody()

        @RenderPage("~/inc/_RodaPe.cshtml")

    </body>
</html>
